:root {
    --cor_amarelo: #FFCC33;
    --cor_fundo: #424242;
}



@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');



body {
    background-color: #ffffff;
    color:#000000;
    font-family: 'Oswald';
    margin:0;
    padding:0;
    overflow:auto;
}

.card-header {
    margin-top: 70px; /* Metade da valor da Altura */
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.card-body {
    background-color: #fefefe;
    position: relative;
    margin: auto;
    margin-top: 70px; /* Metade da valor da Altura */
    width: 500px;
    height:600px; /* Valor da Altura */
    padding: 20px;
    border-style: solid;
    border-color: #FFCC33;
}

.row-extra {
    margin-left: 20px;
}

.md-8-offset-md-4 {
    left:50%;
    top:50%;
    margin-left:-95px; /* Metade do valor da Largura */
    margin-top:200px; /* Metade da valor da Altura */
    position:absolute;
    width:400px; /* Valor da Largura */
    height:300px; /* Valor da Altura */
}

.btn-primary-register{
    background-color:#1C2934;
    outline: none;
    border: 0;
    color: #fff;
    padding:10px 20px;
    text-transform:uppercase;
    border-radius:2px;
    cursor:pointer;
    margin-top: 50px;
    margin-left: 160px;
    position: relative;
    text-transform:uppercase;
    font-size: 20px;
    display: block;
    font-weight: bold;
}

form{
    margin-top: 100px;
}

.form-group{
    margin: 25px;
    position: sticky;
}

.form-group label{
    font-size:18px;
    pointer-event:none;
    transition: all 0.5s ease-in-out;
}

.form-group input{
    border:0;
    border-bottom:1px solid #555;
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:#000000;
}

.form-group input:focus{
    border:none;
    outline:none;
    border-bottom:1px solid #e74c3c;
}

.form-group input:focus ~ label,
.form-group input:valid ~ label{
    top:-12px;
    font-size:12px;
}

.btn-primary{
    background-color:#1C2934;
    outline: none;
    border: 0;
    color: #fff;
    padding:10px 20px;
    text-transform:uppercase;
    border-radius:2px;
    cursor:pointer;
    margin-top: -100px;
    margin-left: 40px;
    position: relative;
    font-size: 20px;
    display: block;
    font-weight: bold;
}

.infos-clinica{
    margin-left: 5%;
    width: 90%;
    height: 200px;
    max-height: 200px;
    min-height: 200px;
    color: white;
    border-style: solid;
    border-color: #FFCC33;
    background-color: #424242;
    margin-top: 5%;
}

.slides{
    width: 12%;
    height: auto;
    margin-left: 2%;
    margin-top: 1%;
    border-radius: 50%;
}


.mais-infos-clinica{
    width: 90%;
    height: 400px;
    max-height: 400px;
    min-height: 400px;
    margin-left: 5%;
    margin-top: 1%;
    color: white;
    background-color: #424242;
    border-style: groove;
    border-color: #FFCC33;
}

.lg-emp{
    width: auto;
    height: 60%;
    border-radius: 50%;
    margin-left: 75%;
    margin-top: -280px;
}

.nome-clinica{
    margin-left: 2%;

}

.texto_clinica{
    color: white;
    margin-left: 7%;
    max-width: 70%;
    max-height: 500px;
}

.info-slide-atual{
    margin-left: 20%;
}


.infos-clinica-phone{
    margin-left: 5%;
    width: 90%;
    height: 400px;
    color: white;
    border-style: solid;
    border-color: #FFCC33;
    background-color: #424242;
    margin-top: 20%;
}

.slides-phone{
    width: 30%;
    height: auto;
    margin-left: 35%;
    margin-top: 1%;
}

.empresa-phone{
    width: 30%;
    height: auto;
    margin-left: 35%;
    margin-top: 3%;
    border-radius: 50%;
}

.mais-infos-clinica-phone{
    width: 90%;
    height: 600px;
    margin-left: 5%;
    margin-top: 1%;
    color: white;
    background-color: #424242;
    border-style: groove;
    border-color: #FFCC33;
}

.nome-clinica-phone{
    margin-left: 2%;

}

.texto_clinica-phone{
    color: white;
    margin-left: 7%;
    border-style: solid;
    border-color: #FFCC33;
    width: 85%;
}

.info-slide-atual-phone{
    margin-left: 3%;
}

.title-part{
    color: yellow;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');
body {
    background-color: #ffffff;
    color:#000000;
    font-family: 'Oswald', sans-serif;
    margin:0;
    padding:0;
    overflow:auto;
}

h3{
    position: center;

}

.prox{
    width: 89%;
    height: 250px; /* Valor da Altura */
    margin-top: 5px;
    margin-left: 0.3%;
    color: white;
    background-color: 424242;
    border-style: solid;
    border-color: #FFCC33;
}

.btn-paciente{
    display: block;
    width: 160px;
    height: 12%;
    background: #1C2934;
    padding: 5px;
    color: white;
    margin-left: 26%;
    margin-top: -1%;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    border-color: #FFCC33;
    border-style: solid;
}

.infosprox-nome{
    font-size: 23px;
    margin-left: 25.8%;
}

.infosprox-hora{
    font-size: 23px;
    margin-left: 40.7%;
    margin-top: -58px;
}

.infosprox-saida{
    font-size: 23px;
    margin-left: 61.8%;
    margin-top: -57px;
}

.infosprox-local{
    font-size: 23px;
    margin-left: 81.5%;
    margin-top: -57px;
}

.clien{
    text-align: center;
    font-size: 23px;
}

.tdclien{
    margin-left: 25.8%;
}

.tdclien-hora{
    margin-left: 40.7%;
    margin-top: -43px;
}

.tdclien-datasaida{
    margin-left: 61.8%;
    margin-top: -45px;
}

.tdclien-local{
    margin-left: 81.5%;
    margin-top: -45px;
}

.agenda{
    margin-left: 0.3%;
    width: 98.8%;
    height: 380px;
    color: white;
    background-color: 424242;
    border-style: solid;
    border-color: #FFCC33;
    margin-top: 5px;

}

.corsim{
    background-color: gray;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 20%;
    max-width: 20%;
}

.agnd{
    text-align: center;
    padding-top: 20px;
}

.table-wrapper{
    height: 250px;
    max-width: 130%;
    margin: 0px auto 0px auto;
    margin-left: 0.5%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.search-label-agenda{
    font-size:2.2vw;
    transition: all 0.5s ease-in-out;
    float: left;
    margin-left: -45%;
    margin-top: -1%;
}

.search-agenda{
    border:0;
    border-bottom:1px solid white;
    background:transparent;
    width:55%;
    padding:8px 0 5px 0;
    font-size:16px;
    color: white;
    margin-left: -20%;
    margin-bottom: 5px;
}

.search-agenda-home{
    margin-top: 20px;
    margin-left: 47%;
    margin-bottom: 5px;
}

.bt-search-agenda{
    display: block;
    width: 100px;
    height: 20px;
    background: #1C2934;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 15px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    border-color: #FFCC33;
    border-style: solid;
    margin-top: -50px;
    margin-left: 44%;
}

.search-label-agenda-phone{
    font-size: 2.3vw;
}

.search-agenda-phone{
    border-bottom:1px solid white;
    width:45%;
    height: 3%;
    padding:8px 0 5px 0;
    font-size:11px;
    color: black;
    margin-bottom: 5px;
}

.search-agenda-home-phone{
    margin-top: -10px;
    margin-left: -15%;
    margin-bottom: 5px;
    font-size: 12px;
}

.bt-search-agenda-phone{
    display: block;
    width: 12.8%;
    height: 20px;
    background: #1C2934;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    border-color: #FFCC33;
    border-style: solid;
    margin-top: -42px;
    margin-left: 82.5%;
}


.prox-phone{
    margin-top: 5px;
    margin-left: 0.3%;
    color: white;
    background-color: 424242;
    border-style: solid;
    border-color: #FFCC33;
    max-width: 96%;
}

.clien-phone{
    text-align: center;
}

.infosprox-phone {
    margin: 10px;
}

.info-phone-prox{
    text-align: left;
    margin-left: 0.3%;
}

.tdclien-phone{
    text-align: center;
    margin-top: -20px;
    margin-right: 10px;
    font-size: 10px;
}

.btn-paciente-phone{
    display: block;
    width: 100px;
    height: 40px;
    background: #1C2934;
    padding-top: 20px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    border-color: #FFCC33;
    border-style: solid;
    float: right;
    margin-right: 10px;
    margin-top: -100px;
}


.agenda-phone{
    text-align: center;
    margin-left: 0.3%;
    max-width: 96%;
    color: white;
    background-color: 424242;
    border-style: solid;
    border-color: #FFCC33;
    margin-top: 5px;
}

.table-phone{
    margin-left: 0.15%;
    font-size: 8px;
}

.tag-phone{
    font-size: 8px;
}

.corsim-phone{
    background-color: gray;
    color: white;
    text-align: center;
}

.table-wrapper-phone{
    height: 200px;
    max-width: 96%;
    margin: 0px auto 0px auto;
    overflow: auto;
}

.profissionais-adm{
    margin-top: 10px;
    margin-left: 0.3%;
    width: 49%;
    height: 600px;
    text-align: center;
    border-style: solid;
    border-color: #FFCC33;
    background-color: 424242;
    color: white;
}

.pacientes-adm{
    margin-top: -605px;
    margin-left: 50.5%;
    width: 49%;
    height: 600px;
    text-align: center;
    border-style: solid;
    border-color: #FFCC33;
    background-color: 424242;
    color: white;
}

.list-adm{
    margin: 100px;
}

.tag-adm{
    width: 200px;
    color: white;
    border: solid;
    border-color: #FFCC33;
    padding: 4px;
    font-size: 20px;
}


.bt-acao-adm-editar{
    display: block;
    width: 80px;
    height: 30px;
    background: #1C2934;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    border-color: #FFCC33;
    border-style: solid;
}

.bt-acao-adm-remover{
    display: block;
    width: 80px;
    height: 30px;
    background: #1C2934;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    border-color: #FFCC33;
    border-style: solid;
}

.table-wrapper-adm{
    height: 400px;
    width: 80%;
    margin: 0px auto 0px auto;
    margin-left: 10%;
    margin-top: 20px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.table-wrapper::-webkit-scrollbar {
    display: none;
}

.table-wrapper-adm::-webkit-scrollbar {
    display: none;
}


.search-part{
    margin-top: -10%;
}

.search-label{
    font-size:16px;
    transition: all 0.5s ease-in-out;
    float: left;
    margin-left: 16%;
    margin-top: 1%;
}

.search{
    border:0;
    border-bottom:1px solid white;
    background:transparent;
    width: 25%;
    padding:8px 0 5px 0;
    font-size:16px;
    color: white;
    margin-left: -35%;
    margin-bottom: 5px;
}

.bt-search{
    display: block;
    width: 50px;
    height: 20px;
    background: #1C2934;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 15px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    border-color: #FFCC33;
    border-style: solid;
    margin-top: -50px;
    margin-left: 70%;
}

.profissionais-adm-phone{
    margin-top: 5px;
    margin-left: 0.3%;
    color: white;
    background-color: 424242;
    border-style: solid;
    border-color: #FFCC33;
    max-width: 96%;
    height: 60%;
    text-align: center;
}

.bt-new-adm-phone{
    display: block;
    width: 65px;
    height: 40px;
    background: #1C2934;
    padding: 5px;
    color: white;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    border-color: #FFCC33;
    border-style: solid;
    margin-left: 5%;
    margin-bottom: 15px;
}

.adm-page-phone{
    margin-top: -43px;
    margin-left: 5%;
    margin-bottom: 5px;
    font-size: 12px;
}

.search-phone{
    border-bottom:1px solid white;
    width:45%;
    height: 4%;
    padding:8px 0 5px 0;
    font-size:11px;
    color: black;
    margin-bottom: 5px;
}

.search-label-phone{
    font-size: 2.3vw;
}

.bt-search-phone{
    display: block;
    width: 30px;
    height: 20px;
    background: #1C2934;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    border-color: #FFCC33;
    border-style: solid;
    margin-top: -42px;
    margin-left: 85.2%;
}

.table-wrapper-adm-phone{
    height: 60%;
    width: 90%;
    max-width: 90%;
    margin: 0px auto 0px auto;
    margin-left: 5%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.pacientes-adm-phone{
    margin-top: 5px;
    margin-left: 0.3%;
    color: white;
    background-color: 424242;
    border-style: solid;
    border-color: #FFCC33;
    max-width: 96%;
    height: 60%;
    text-align: center;
}

.table-wrapper-phone::-webkit-scrollbar {
    display: none;
}

.table-wrapper-adm-phone::-webkit-scrollbar {
    display: none;
}

.perfil-prof{
    width: 85%;
    height: 600px; /* Valor da Altura */
    margin-top: 100px;
    margin-left: 7%;
    color: white;
    background-color: #424242;
    border-style: solid;
    border-color: #FFCC33;
}

.pessoal{
    text-align: center;
    color: white;
    margin-left: -100px;
}

.marker-label{
    font-size: 26px;
    font-weight: bold;
    color: #FFCC33;
    text-align: center;
}

.marker-label-2{
    font-size: 26px;
    font-weight: bold;
    color: #FFCC33;
    margin-left: 100px;
}

.lbinfo-static{
    margin-left: 100px;
    font-size: 24px;
    font-weight: bold;
}

.lbinfo-static-extra{
    font-size: 20px;
    margin-left: 160px;
}

.lbinfo-ntstatic{
    font-size: 20px;
    color: white;
    font-weight: normal;
}

.profissoes-table{
    color: white;
    font-size: 20px;
    margin-left: 100px;
}

.profissoes-table-wrapper{
    height: 100px;
    width: 350px;
    max-width: 400px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.profissoes-table-wrapper::-webkit-scrollbar {
    display: none;
}

.descricao{
    height: 100px;
    width: 600px;
    margin-left: 500px;
    margin-top: -160px;
}

.descricao-wrapper{
    max-width: 500px;
    max-height: 150px;
    overflow: auto;
    -ms-overflow-style: none;
    /* scrollbar-width: none; */
}

.descricao-wrapper::-webkit-scrollbar {
    display: none;
}

.marker-label-phone{
    color: #FFCC33;
}

.perfil-prof-phone{
    margin-top: 80px;
    margin-left: 7px;
    color: white;
    background-color: 424242;
    border-style: solid;
    border-color: #FFCC33;
    max-width: 96%;
    height: 135%;
}

.info-pessoal-phone{
    margin-left: 5px;
}

.info-pessoal-phone-prof{
    margin-left: 20px;
}

.lbinfo-static-phone{
    margin-top: -10px;
    font-size: 10px;
}

.lbinfo-ntstatic-phone{
    margin-top: -10px;
    font-size: 10px;
}

.incomplete-phone{
    margin-top: 40px;
}

.complete-phone{
    margin-left: 40%;
    margin-top: -164px;
}

.contato-phone{
    margin-left: 20px;
}

.complete-phone-contato{
    margin-left: 40%;
    margin-top: -75px;
}

.profissoes-phone{
    margin-left: 20px;
}

.profissoes-table-phone{
    color: white;
    font-size: 12px;
}

.profissoes-table-wrapper-phone{
    height: 10%;
    width: 50%;
    max-width: 50%;
    margin-top: -3%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.profissoes-table-wrapper-phone::-webkit-scrollbar {
    display: none;
}

.tbcell-profissoes-phone{
    font-weight: 200px;
}

.center-phone{
    margin-left: 10%;
}

.descricao-phone{
    margin-left: 20px;
}

.descricao-wrapper-phone{
    max-width: 80%;
    max-height: 150px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.descricao-wrapper-phone::-webkit-scrollbar {
    display: none;
}

.hidden{
    display: none;
}

#crianca_sabe_se_adotivo{
    display: none;
}

#reacao_quando_descobriu_se_adotivo{
    display: none;
}

#vive_com_quem_caso_pais_divorciados{
    display: none;
}

#reacao_sobre_a_relacao_pais_caso_divorciados {
    display: none;
}

.command_hidden_extra:checked ~ #reacao_quando_descobriu_se_adotivo{
    display: block;
}

.command_hidden:checked ~ .hidden,
.command_hidden:checked ~ #vive_com_quem_caso_pais_divorciados,
.command_hidden:checked ~ #reacao_sobre_a_relacao_pais_caso_divorciados{
    display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.welcome{
    margin-top: 100px;
    margin-left: 0.3%;
    width: 98.8%;
    height: 100px;
    text-align: center;
    border-style: solid;
    border-color: #FFCC33;
    color: white;
    background-color: 424242;
}

.welcome-adm{
    margin-left: 0.3%;
    width: 98.8%;
    height: 150px;
    text-align: center;
    border-style: solid;
    border-color: #FFCC33;
    color: white;
    background-color: 424242;
}

h1 {
    text-align: center;
}

#txt {
    margin-top: 38px;
    margin-left: 90.6%;
    width: 9.2%;
    text-align: center;
    padding-top: 100px;
    height: 150px;
    border-style: solid;
    border-color: #FFCC33;
    color: white;
    background-color: #424242;
    font-size: 2.5vw;

}

.empresa{
    width: 15%;
    max-width: 230px;
    height: auto;
    margin-left: 2%;
    margin-top: -635px;
    border-radius: 50%;
}

.btn-adm{
    display: block;
    width: 160px;
    height: 40px;
    background: #1C2934;
    padding: 20px;
    color: white;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    border-color: green;
    border-style: solid;
}

.adm-bt{
    margin-top: -745px;
    margin-left:  45px;
}

#ir-adm{
    margin-left: 210px;
    margin-top: -85px;
}

.welcome-phone{
    text-align: center;
    border-style: solid;
    border-color: #FFCC33;
    color: white;
    background-color: #424242;
    margin-top: 80px;
    margin-left: 0.3%;
    max-width: 96%;
    font-size: 12px;
}

.adm-bt-phone{
    margin-left: 2%;
    margin-right: 5px;
    padding-bottom: 20px;
}

.btn-perfil-phone{
    display: block;
    width: 96%;
    height: auto;
    background: #1C2934;
    padding: 5px;
    color: white;
    font-size: 11px;
    text-decoration: none;
    text-align: center;
    border-style: solid;
    margin-bottom: 10px;
}

.topnav {
    overflow: visible;
    background-color:  #FFCC33;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 5;
}

.topnav a.bt {
    background-color:#1C2934;
    outline: none;
    border: 10px;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a.home {
    background-color:#1C2934;
    outline: none;
    border: 10px;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: red;
    color: black;
}

.home {
    display: block;
    width: 50px;
    height: 20px;
    background: #194f5a;
    padding: 5px;
    color: white;
    margin: 5px;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.bt{
    display: block;
    width: 150px;
    height: 20px;
    background: #1C2934;
    padding: 5px;
    color: white;
    margin: 5px;
    text-indent: inherit;
    font-size: 14px;
    margin-top: 10px;
}

img{
    width:65px;
    height: 65px;
    float: left;
    margin-left: 1px;
    margin-top: 1px;
}

h2 {
    color: #1C2934;
    margin-left: 75px;
    margin-top: 15px;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    display: block;
    width: 100px;
    height: 48px;
    background: #1C2934;
    padding: 5px;
    color: white;
    margin: 5px;
    text-indent: inherit;
    font-size: 14px;
    margin-top: 10px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    position: absolute;
    min-width: 100px;
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 12px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desktop{
    display: block;
}

.celular {
    display: none;
}

@media screen and (max-width: 600px) {
    .desktop {display: none !important;}
    .celular{display: block;}
}



.topnav {
    overflow: visible;
    background-color:  #FFCC33;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.topnav a.bt {
    background-color:#1C2934;
    outline: none;
    border: 10px;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a.home {
    background-color:#1C2934;
    outline: none;
    border: 10px;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: red;
    color: black;
}

.home {
    display: block;
    width: 50px;
    height: 20px;
    background: #194f5a;
    padding: 5px;
    color: white;
    margin: 5px;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.bt{
    display: block;
    width: 150px;
    height: 20px;
    background: #1C2934;
    padding: 5px;
    color: white;
    margin: 5px;
    text-indent: inherit;
    font-size: 14px;
    margin-top: 10px;
}

/* TODO: Criar classe especifica para o img (Não usar direto!) */
img{
    width:65px;
    height: 65px;
    float: left;
    margin-left: 1px;
    margin-top: 1px;
}

/* TODO: Criar classe especifica para o h2 (Não usar direto!) */
h2 {
    color: #1C2934;
    margin-left: 75px;
    margin-top: 15px;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    display: block;
    width: 100px;
    height: 48px;
    background: #1C2934;
    padding: 5px;
    color: white;
    margin: 5px;
    text-indent: inherit;
    font-size: 14px;
    margin-top: 10px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    position: absolute;
    min-width: 100px;
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 12px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desktop{
    display: block;
}

.celular {
    display: none;
}

@media screen and (max-width: 600px) {
    .desktop {display: none !important;}
    .celular{display: block;}
}



.desktop{
    display: block;
}

.celular {
    display: none;
}

@media screen and (max-width: 600px) {
    .desktop {display: none !important;}
    .celular{display: block;}
}


.caixa_form {
    background-color: #424242;
    color: white;
    background-color: 424242;
    border-style: solid;
    border-color: #FFCC33;
    text-align: center;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}

.caixa_form input {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #FFCC33;
    padding: 14px 10px;
    width: 40%;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.caixa_form input:focus {
    width: 55%;
}

.caixa_form input[type = "radio"], .caixa_form input[type = "checkbox"]{
    background: none;
    display: inline;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #FFCC33;
    padding: 14px 10px;
    width: 5%;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.caixa_form input[type = "submit"] {
    width: 30%;
    outline: none;
    color: white;
    border: 2px solid #5d8ca2;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.caixa_form input[type = "submit"]:hover {
    color: black;
    background-color: #FFCC33;
}

.hr_form {
    width: 70%;
}

.checkbox_container {
    text-align: left;
    margin-left: 43%;
}

/* Tirar as setinha de numero */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.desktop{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:1360px;
}

.celular {
    display: none;
}

@media screen and (max-width: 600px) {
    .desktop {display: none !important;}
    .celular{display: block;}
}

.caixa {
    border: 2px solid #FFCC33;
    width: 85%;
    margin: auto;
    color: white;
    background: #424242;
    text-align: center;
}

.caixa a {
    text-decoration: none;
    color: white;
}

#conteudo_agendamento {
    text-align: left;
    width: 80%;
    margin: auto;
}

.agendamento_td {
    color: white;
    margin-bottom: 2px;
    padding: 10px;
}

.agendamento_tr {
    border: 1px solid black;
}

.textareas_form {
    color: white;
    background: #424242;
    border: 2px solid #FFCC33;
    border-radius: 24px;
    width: 50%;
    padding: 1%;
}

.tipo_da_recorrencia {
    display: none;
}

#recorrencia_do_agendamento:checked ~ .tipo_da_recorrencia {
    display: inline;
}


.textareas_form {
    color: white;
    background: #424242;
    border: 2px solid #FFCC33;
    border-radius: 24px;
    width: 50%;
    padding: 1%;
}

.tipo_da_recorrencia {
    display: none;
}

#recorrencia_do_agendamento:checked ~ .tipo_da_recorrencia {
    display: inline;
}
