:root {
    --cor_amarelo: #FFCC33;
    --cor_azul: #1C2934;
    --cor_vermelho: #f00;
    --cor_roxo: #AA00FF;
    --cor_fundo: #424242;
    --cor_branco: #FFF;
    --cor_preto: #000;
}


.container {

}

.bg-amarelo {
    background-color: var(--cor_amarelo) !important;
}

.bg-padrao {
    background-color: var(--cor_fundo) !important;
    color: var(--cor_branco) !important;
}

.bg-claro {
    background-color: #FFF !important;
    color: #000 !important;
}


.bt {
    color: var(--cor_branco);
    width: 150px;
    height: auto;
    border: 2px solid var(--cor_amarelo);
    padding: 10px;
    background-color: var(--cor_azul);
    text-align: center;
}

.bt:hover {
    background-color: var(--cor_roxo) !important;
    color: var(--cor_branco) !important;
    height: auto;
    text-decoration: none;
}

.bt-new-adm {
    display: block;
    width: 20%;
    height: auto;
    background: #1C2934;
    color: white;
    font-size: 1.2vw;
    text-decoration: none;
    text-align: center;
    border-color: #FFCC33;
    border-style: solid;
    margin-left: -10%;
    margin-top: 35px;
}

.adm-page{
    margin-top: 3%;
    margin-left: 20%;
    margin-bottom: 5px;
}

.bt-new-adm:hover{
    background-color: var(--cor_vermelho) !important;
    color: var(--cor_branco) !important;
    height: auto;
    text-decoration: none;
}

.bordas_amarelas {
    border: 2px solid var(--cor_amarelo);
}

.bordas_vermelhas {
    border: 2px solid var(--cor_vermelho);
}

#timer_container {
    color: var(--cor_branco);
    background-color: var(--cor_preto);
    margin: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    padding-top: 4%;
    border-width: 5px;
}

#nav-extra {
    height: auto;
}

#adm-welcome {
    padding-bottom: 3%;
    margin-top: 3%;
}

.btn-paciente {
    display: block;
    width: 160px;
    height: 12%;
    padding: 5px;
    color: white;
    margin: auto;
    margin-bottom: 2%;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

.btn-paciente:hover{
    background-color: var(--cor_vermelho) !important;
    color: var(--cor_branco) !important;
    height: auto;
    text-decoration: none;
}

.search-agenda-home {
    margin-top: 20px;
    margin-left: 42%;
    margin-bottom: 5px;
}


.search-agenda {
    border: 0;
    border-bottom: 1px solid white;
    background: transparent;
    width: 55%;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: white;
    margin-left: -7%;
    margin-bottom: 5px;
}


.bt-search-agenda_r {
    background: var(--cor_azul);
    padding: 5px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    border-color: #FFCC33;
    border-style: solid;
}


.table-wrapper {
    height: auto;
    max-width: 130%;
    margin: 0px auto 0px auto;
    margin-left: 0.5%;
    margin-top: 3%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#home-profissional{
    text-align: center;

}

th.tag{
    border-color: #FFCC33;
    border-style: solid;
    border-width: 3px;
    margin-left: 1px;
    color: white;
}

.btn-full{
    background-color: var(--cor_azul);
    width: 90%;
    margin-left: 5%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    color: white;
}

.btn-full:hover{
    background-color: var(--cor_vermelho) !important;
    color: var(--cor_branco) !important;
    text-decoration: none;
}

.bt-acao-adm:hover{
    background-color: var(--cor_vermelho) !important;
    color: var(--cor_branco) !important;
    text-decoration: none;
}

.corsim-intern:hover{
    color: var(--cor_amarelo) !important;
    text-decoration: none;
}

.corsim {
    background-color: gray;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 20%;
    max-width: 20%;
    border: 3px solid var(--cor_fundo);
}

.corsim-adm{
    background-color: gray;
    color: white;
    font-size: 18px;
    text-align: center;
    max-width: 80%;
    width: 80%;
    border: 3px solid var(--cor_fundo);
}

.corsim-intern{
    border: none;
    text-decoration: none;
    color: white;
}



.bt-acao-adm {
    display: block;
    width: 80px;
    height: auto;
    background: #1C2934;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    border-color: #FFCC33;
    border-style: solid;
}

.pessoal {
    text-align: center;
    color: white;
    margin-left: 0px;
    margin-top: 2%;
}


.profissoes-table-wrapper {
    height: 100px;
    width: 100%;
    max-width: 400px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.descricao {
    height: auto;
    width: 600px;
    margin-left: 45%;
    margin-bottom: 7%;
}


.dropdown {
    display: none;
    position: absolute;
    top: 79%;
    left: 87.5%;
    width: 12%;
    background-color: var(--cor_branco);
}

.dropdown:hover {
    display: block;
}

.dropdown_controller:hover ~ .dropdown {
    display: block;
}

.navbar-nav ml-auto{
    margin-left: 10%;
}


.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover {
    background-color: var(--cor_fundo) !important;
}


.perigo:hover {
    background-color: var(--cor_vermelho) !important;
}

.caixa_form {
    border: 2px solid #FFCC33;
    width: 100%;
    margin: auto;
    color: white;
    background: #424242;
    text-align: center;
}
.caixa {
    border: 2px solid #FFCC33;
    width: 100%;
    margin: auto;
    color: white;
    background: #424242;
    text-align: center;
}


.desktop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.logo-image{
    position: relative;
    margin-left: 10%;
}
